NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAvohtlBk2uL2RaY3SGijoj1RIHa1qpujY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=aviator-5c03c.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=aviator-5c03c
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=aviator-5c03c.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=535276064015
NEXT_PUBLIC_FIREBASE_APP_ID=1:535276064015:web:4804a198f726069deb027a
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-YCPM5KWV6Q